# Data Acquisition

## Introduction

The two datasets we will be dealing with are the following:

1. __Trump's Tweets__: Starting from late 2016 till April 2018. 
2. __SPY's Historical Price__: The movements of the SPY within the same time period.

## Common Libraries

In [221]:
# For Trump's Tweets
import re
import tweepy
import csv
from nltk.sentiment.vader import SentimentIntensityAnalyzer    

# For SPY Data
from datetime import datetime
from pandas import DataFrame, to_numeric, to_datetime, Grouper, concat 
import pandas_datareader.data as dr

## 1. Trump's Tweets

### User Credentials from Twitter

In [94]:
# Variables that contains the user credentials to access Twitter API 
ACCESS_TOKEN        = 'Nothing'
ACCESS_TOKEN_SECRET = 'to'
CONSUMER_KEY        = 'see'
CONSUMER_SECRET     = 'here.'

### Authentication

In [95]:
def auth(): 
    oauth = tweepy.OAuthHandler( CONSUMER_KEY, CONSUMER_SECRET )
    oauth.set_access_token( ACCESS_TOKEN, ACCESS_TOKEN_SECRET ) 
    return oauth

### Getting All Tweets for Trump

In [99]:
def get_all_tweets( screen_name ):
    api = tweepy.API( auth() )
    all_tweets = []

    # Get the 200 Most Recent Tweets.
    new_tweets = api.user_timeline( screen_name = screen_name, 
                                    count       = 200 )
    all_tweets.extend( new_tweets )
    
    # Save the id of the oldest tweet less one
    oldest_tweet_id = all_tweets[ -1 ].id - 1

    # Let's get the most recent 4000 tweets. 
    while len( new_tweets ) > 0:
        
        # All Subsequent requests use the max_id param to prevent duplicates
        new_tweets = api.user_timeline( screen_name = screen_name, 
                                        count       = 200,
                                        max_id      = oldest_tweet_id, 
                                        tweet_mode  = 'extended' ) 
        
        all_tweets.extend( new_tweets )
        
        # Update the id of the oldest tweet less one
        oldest_tweet_id = all_tweets[ -1 ].id - 1
        
        print( f'{ len(all_tweets)} tweets downloaded so far.') 
        
    return all_tweets

donald_tweets = get_all_tweets( 'realDonaldTrump' )

400 tweets downloaded so far.
600 tweets downloaded so far.
800 tweets downloaded so far.
997 tweets downloaded so far.
1197 tweets downloaded so far.
1397 tweets downloaded so far.
1596 tweets downloaded so far.
1796 tweets downloaded so far.
1996 tweets downloaded so far.
2196 tweets downloaded so far.
2396 tweets downloaded so far.
2595 tweets downloaded so far.
2795 tweets downloaded so far.
2995 tweets downloaded so far.
3195 tweets downloaded so far.
3240 tweets downloaded so far.
3240 tweets downloaded so far.

In [101]:
import pprint

# Let's print the text of the first 5 tweets.
pprint.pprint( [ t.text  for t in donald_tweets[ : 5 ]] )

['Looks like OPEC is at it again. With record amounts of Oil all over the '
 'place, including the fully loaded ships at… https://t.co/l5MMjmtI14',
 'Nancy Pelosi is going absolutely crazy about the big Tax Cuts given to the '
 'American People by the Republicans...got… https://t.co/0REgmJNMqT',
 'So exciting! I have agreed to be the Commencement Speaker at our GREAT Naval '
 'Academy on May 25th in Annapolis, Mary… https://t.co/L9iZ6RS3ft',
 'So General Michael Flynn’s life can be totally destroyed while Shadey James '
 'Comey can Leak and Lie and make lots of… https://t.co/q1lyKyyeYI',
 'James Comey Memos just out and show clearly that there was NO COLLUSION and '
 'NO OBSTRUCTION. Also, he leaked classif… https://t.co/YfMYBrTkza']

### Tranforming the Tweets

__Helper Functions__

In [107]:
sid = SentimentIntensityAnalyzer()

def analyze_sentiment( input_tweet ):
    return sid.polarity_scores( input_tweet )

def clean_tweet( input_tweet ):
    return ' '.join(re.sub( "(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)",
                            " ", 
                            input_tweet ).split() )

def get_tweet_text( input_tweet ):
    text = ""

    if hasattr( input_tweet, 'full_text' ):
        return clean_tweet( input_tweet.full_text )

    elif hasattr( input_tweet, 'fulltext' ):
        return clean_tweet( input_tweet.fulltext )

    elif hasattr( input_tweet, 'text' ):
        return clean_tweet( input_tweet.text )

    else:
        return None

__Tranformation Logic__

In [191]:
def transform_tweets( input_tweets ):
    output_tweets = [] 
        
    for t in donald_tweets:
        compound_value = 0
        text           = get_tweet_text( t )
        
        if ( text == None ):
            print( f'No text found for: User: {t.user.name} Tweet @ {t.created_at}')
            continue
        else:
             compound_value = analyze_sentiment( text )[ 'compound' ] 
            
        output_tweets.append( [ t.created_at.date(), text, compound_value ])
    return DataFrame( data    = output_tweets, 
                      columns = [ "date", 
                                  "Cleaned Tweet", 
                                  "Sentiment Score" ])
            
tweets_df = transform_tweets( donald_tweets ) 
tweets_df.head()

,date,Cleaned Tweet,Sentiment Score
0,2018-04-20,Looks like OPEC is at it again With record amo...,0.3612
1,2018-04-20,Nancy Pelosi is going absolutely crazy about t...,-0.5984
2,2018-04-20,So exciting I have agreed to be the Commenceme...,0.8931
3,2018-04-20,So General Michael Flynn s life can be totally...,-0.7089
4,2018-04-20,James Comey Memos just out and show clearly th...,-0.6669

### Saving the Tweets

In [187]:
def write_tweets( transformed_tweets_df, file_path ):
    tweets_df.to_csv( file_path )
 
write_tweets( transformed_tweets_df = tweets_df, 
              file_path             = '../../data/realDonaldTrump_tweets.csv' )

## 2. SPY Movements

### Getting the Historical Data

In [245]:
def download_historical_prices_for_instrument( ticker ):
    try:
        now_time         = datetime.now()
        print(f"Getting historical data for: {ticker}")
        start_time       = datetime(2016, 12 , 30)
        stock_df         = dr.DataReader( ticker,'iex', start_time, now_time)
        stock_df['Name'] = ticker
        return stock_df
    
    except Exception as e:
        print(f'Unable to get data for: {ticker} because of Error: {e} ')
        
spy_df = download_historical_prices_for_instrument( 'SPY' )
spy_df.head()

Getting historical data for: SPY
2y

                open      high       low     close     volume Name
date
2016-12-30  219.5765  219.6742  217.6223  218.4040  108998328  SPY
2017-01-03  219.8794  220.6512  218.7496  220.0748   91366522  SPY
2017-01-04  220.4461  221.5501  220.4363  221.3840   78744433  SPY
2017-01-05  221.0812  221.3840  220.3093  221.2082   78379012  SPY
2017-01-06  221.3352  222.5272  220.7196  221.9996   71559922  SPY

### Adding the Price Range in the DataFrame

In [252]:
spy_df['range'] = ( to_numeric( spy_df['high'] ) - 
                    to_numeric( spy_df['low'] ))
spy_df.sort_index( ascending=False, inplace= True ) 
spy_df.index = to_datetime( spy_df.index )
spy_df.head()

              open    high     low   close    volume Name  range
date
2018-04-19  269.65  269.88  267.72  268.89  77655909  SPY   2.16
2018-04-18  270.69  271.30  269.87  270.39  57303857  SPY   1.43
2018-04-17  269.33  270.87  268.75  270.19  64682036  SPY   2.12
2018-04-16  267.00  268.20  266.07  267.33  63405287  SPY   2.13
2018-04-13  267.41  267.54  264.01  265.15  85079176  SPY   3.53

#  Combining the Two DataFrames

### Sentiment Score Grouped by Date

In [256]:
sentiment_score_df = tweets_df.groupby( Grouper( 'date' )).mean()
sentiment_score_df.head()

            Sentiment Score
date
2018-04-20        -0.143980
2018-04-19         0.507986
2018-04-18         0.043463
2018-04-17         0.153062
2018-04-16         0.023450

### Combining the Two Dataframes

In [257]:
combined_df = merge( spy_df, sentiment_score_df, 
                     how='inner', 
                     left_index=True, 
                     right_index=True )
combined_df.head()

,open,high,low,close,volume,Name,range,Sentiment Score
date,,,,,,,,
2018-04-19,269.65,269.88,267.72,268.89,77655909,SPY,2.16,0.507986
2018-04-18,270.69,271.30,269.87,270.39,57303857,SPY,1.43,0.043463
2018-04-17,269.33,270.87,268.75,270.19,64682036,SPY,2.12,0.153062
2018-04-16,267.00,268.20,266.07,267.33,63405287,SPY,2.13,0.023450
2018-04-13,267.41,267.54,264.01,265.15,85079176,SPY,3.53,-0.256667